.rot{
            
    animation-name: example;
        animation-duration: 50s;
    animation-iteration-count: infinite;
        animation-direction: alternate;    
}    

@keyframes example{
    0%{
        -ms-transform: rotate(0deg) scale(1.5,1.5); /* IE 9 */
        -webkit-transform: rotate(0deg) scale(1.5,1.5); /* Safari */
        transform: rotate(0deg) scale(1.5,1.5);
        
    }
    100%{
        -ms-transform: rotate(20deg) scale(2,2); /* IE 9 */
        -webkit-transform: rotate(20deg)  scale(2,2); /* Safari */
        transform: rotate(20deg)  scale(2,2);
        
    }

}