h1, p{
	color: #555;
}

h1{
	font-weight: 700;
	margin: 2em 0;
}

.testimg{
	border-radius: 100%;
	height: 5em;
	width: 5em;
}

.testimonial{
	margin-top: 2em;
	margin-bottom: 3em;
}

.testimonial p{
	max-width: 15em;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
	color: #000;
}